<div class="btn-group" role="group" aria-label="Skills group">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Agile Project Trackers
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">JIRA</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Trello</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Version Managmenet
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Git</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">GitHub</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Collaboration
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Office 365 Tool Suite</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Google tool suite</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Miro</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Mural</a>
      </li>
    </ul>
  </div>
</div>
