.welcomeSign {
  animation: helloSlide 1s ease 0s 1 normal forwards;
  padding-top: 2rem;
  padding-left: 2rem;
}

@keyframes helloSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.games {
  width: 25vw;
  max-width: 300px;
}

.aboutme {
  background-image: linear-gradient(
    to bottom right,
    rgb(93, 105, 105),
    rgb(33, 37, 41)
  );
}

.my_image {
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.1),
      rgba(33, 37, 41, 1)
    ),
    url("../../../assets/altspacevr.png");
  width: 100%;
  height: 875px;
  background-size: cover;
  color: white;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
}
