<div class="container-fluid p-5 bg-dark text-white w-75">
  <h1 class="display-1 welcomeSign">Hi, I'm Victor 👋</h1>
</div>
<div class="container-fluid p-5 bg-dark text-white w-75">
  <div class="row mb-5">
    <div class="col-md-5">
      <p>Professionally I'm a Full Stack Developer with {{getTimeProgramming()}} of experience consulting and creating cool solutions mainly within the healthcare industry. </p>
    </div>
    <div class="col-md-5 inline-block">
      <div class="text-center">
        <!-- cms logo, ventera logo, genworth logo -->
        <a class="nav-brand active" href="https://www.cms.gov/">
          <img src="../../../assets/CMSlogowhite.png" alt="Logo" class="w-25 rounded p-2 m-2">
        </a>
        <a class="nav-brand text-center" href="https://www.ventera.com/">
          <img src="../../../assets/ventera-brand.png" alt="Logo" class="w-25 p-2 m-2 rounded">
        </a>
        <a class="nav-brand " href="https://apps.apple.com/us/app/genworth-mobilepro/id939664538">
          <img src="../../../assets/genworthlogowhite.png" alt="Logo" class="w-25 rounded p-2 m-2">
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-5 text-center">
      <!-- maybe some icons or a turndial of pictures -->
      <img src="../../../assets/personality.png" alt="my Favorite Video Games" class="games rounded p-2 m-2">
    </div>
    <div class="col-md-5">
      <p>More personally, I am a Hip-Hop dancing snowboarder with a love for lacrosse, soccer, and video games. You can usually find me playing League of Legends, Destiny 2 or out and about exploring Seattle with my wife.</p>
    </div>
  </div>
</div>
