<div class="btn-group" role="group" aria-label="Skills group">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      AWS Experience
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a
          class="dropdown-item"
          href="https://docs.aws.amazon.com/lambda/index.html"
          >Lambdas</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="https://docs.aws.amazon.com/ec2/?id=docs_gateway"
          >EC2</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="https://docs.aws.amazon.com/s3/?id=docs_gateway"
          >S3</a
        >
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      APIs
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Express</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">NodeJS</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Frontend
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Angular 12</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Django</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      DevOps
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Cloudbees Jenkins</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">GitHub Actions</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Backend
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">PostgreSQL</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">mySQL</a>
      </li>
    </ul>
  </div>
</div>
