<div class="btn-group" role="group" aria-label="Skills group">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Leadership
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Coach</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Dev Lead</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Scrum Master</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Personality
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" href="#">Enthusiastic</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Optimistic</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Patient</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">People oriented</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Sociable</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Teacher</a>
      </li>
    </ul>
  </div>
</div>
