/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
/* h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body {
  background-color: rgb(206, 206, 206);
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
} */
/* everywhere else */
* {
  font-family: Open Sans, sans-serif;
}
body {
  background-color: rgb(33, 37, 41);
}

.bg-blitz {
  background-color: rgb(14, 16, 21);
}

.bg-blitz-field {
  background-color: rgb(24, 26, 32);
}
